<div class="content group">
  <div class="banner">

    <h1>EMPOWER YOUR BUSINESS</h1>
    <h2>Streamline everything from in-person and online payments to the orders you have to make.</h2>

  </div>
  <div class="main">


    <b>We love mobile payment programs like square</b>

    <br><br>

    But we are going to help you setup these new technologies on a much larger scale, because you are not a food truck.  If you are you might have bigger ambitions on how to best integrate an online experience for your customers, you should request an evaluation by one of our consultants.

    <br><br>

    <b>Heres the pitch</b>  

    <br><br>

    We are going to create a package of services for you that spans software and hardware.  We will help you integrate everything you have from the received payments to the orders you have to make, and we are also going to train you how to use the system.  In a single package you will be able to view the payments received from the customer and the payments that are going to the supplier.  You are running on out stock in product X, get ready to receive and alert and tell you how much funds are ready to be spent, and send that order in a click of a button, on your computer or mobile device.  We are going to enable you to worry about the big picture of your business while you let the money collect.

    Stay tuned to learn more about this amazing integration platform.




  </div>
</div>

